@model Web.Models.PetViewModels.PetDetailViewModel

@{
    ViewData["Title"] = "Pet Detail";
}

<div class="container" style="margin:10px">
    <div class="row">
        <div class="col-lg-1" style="float:left"><bn-icon icon-name="@Model.Icon" icon-size="56"></bn-icon></div>
        <div class="col-lg-8" style="float:left"><h2>@Model.Name</h2></div>
        <div class="col-lg-3" style="float:left">
            
            <form asp-controller="Pet" asp-action="Vote" asp-route-id="@Model.CreatureId">
                @if (Model.UserHasVoted)
                {
                    <button type="Submit" class="btn btn-primary btn-lg" disabled>Vote</button>
                    <label>You have already voted for this pet</label>
                }
                else
                {
                    <button type="Submit" class="btn btn-primary btn-lg">Vote</button>
                }
            </form>
        </div>
    </div>

    <hr />
    <div class="row">
        <dl class="dl-horizontal" style="text-align:left">
            <dt>
                <label asp-for="Description"></label>
            </dt>
            <dd>
                <span>@Model.Description</span>
            </dd>
            <dt>
                <label asp-for="Source"></label>
            </dt>
            <dd>
                <span>@Model.Source</span>
            </dd>
            <dt>
                <label asp-for="CanBattle"></label>
            </dt>
            <dd>
                <input type="checkbox" disabled asp-for="CanBattle" />
            </dd>
            <dt style="text-align:left">
                <label asp-for="Family"></label>
            </dt>
            <dd>
                <span>@Model.Family</span>
            </dd>
            <dt style="text-align:left">
                <label asp-for="Health"></label>
            </dt>
            <dd>
                <span>@Model.Health</span>
            </dd>
            <dt style="text-align:left">
                <label asp-for="Power"></label>
            </dt>
            <dd>
                <span>@Model.Power</span>
            </dd>
            <dt style="text-align:left">
                <label asp-for="Speed"></label>
            </dt>
            <dd>
                <span>@Model.Speed</span>
            </dd>
            <dt style="text-align:left">
                <label asp-for="StrongAgainst"></label>
            </dt>
            <dd>
                <span>@Model.StrongAgainst</span>
            </dd>
            <dt style="text-align:left">
                <label asp-for="WeakAgainst"></label>
            </dt>
            <dd>
                <span>@Model.WeakAgainst</span>
            </dd>
        </dl>
    </div>
    <div class="row panel panel-default">
        <div class="panel-heading"><h3 class="panel-title">Abilities</h3></div>
        <div class="panel-body">
            @foreach (var ability in Model.Abilities)
            {
                <div class="col-lg-2 col-md-3 col-sm-5 col-xs-12" style="margin:10px">
                    <bn-icon icon-name="@ability.Icon" icon-size="18"></bn-icon>
                    <label>@ability.Name</label>
                </div>
            }
        </div>
    </div>

</div>